.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Column-1 {
  display: flex;
  background-color: red;
  height: 100px;
  width: 300px;
  border: 2px;
  border-color: black;
  border-style: solid;
  flex-shrink: 1;
}

.Column-2 {
  display: flex;
  background-color: white;
  height: 100px;
  width: 300px;
  border: 2px;
  border-color: black;
  border-style: solid;
  flex-shrink: 2;
}

.Column-3 {
  display: flex;
  background-color: blue;
  height: 100px;
  width: 300px;
  border: 2px;
  border-color: black;
  border-style: solid;
  flex-shrink: 3;
}
